.content-page.expanded {
  padding-left: 125px;
  @media (max-width: 600px) {
    padding-left: 70px;
  }
}

html {
  height: 100%;
}

body {
  height: calc(100% - 90px);
}

.content-page {
  height: calc(100% - 169px);
  transition: padding-left .3s;
  padding-left: 76px;
  margin-top: 90px;
  display: table;
  position: relative;
  @media (max-width: 600px) {
    padding-left: 10px;
  }
  @media (max-width: 390px) {
    margin-top: 110px;
  }
  .padding-lateral {
    @media (max-width: 600px) {
      padding-left: 5px;
      padding-right: 5px;
    }
  }
  h1.main-title {
    margin-top: 110px;
    float: left;
    position: relative;
    clear: both;
    margin-bottom: 35px;
    @media (max-width: 1400px) {
      margin-top: 30px;
    }
    &::after {
      content: '';
      width: 60%;
      height: 2px;
      display: block;
      position: absolute;
      bottom: -14px;
      background-color: $ifix-pink;
    }
  }
  p {
    @extend %font-p-md;
    clear: both;
    margin-bottom: 32px;
    color: $ifix-gray1;
  }
  .header-works {
    background-color: $ifix-gray2;
    margin-top: 70px;
    padding-bottom: 20px;
    padding-top: 20px;
    @media (max-width: 1400px) {
      margin-top: 20px;
    }
    p {
      @extend %font-p-sm;
      color: $ifix-gray1;
      margin: 4px 0;
      font-weight: 700;
    }
  }
  .work-item {
    padding-bottom: 20px;
    padding-top: 20px;
    p {
      @extend %font-p-xs;
      margin: 4px 0;
      font-weight: 500;
      float: left;
      clear: none;
      color: $ifix-gray1;
      &.date,
      &.code {
        @media (max-width: 768px) {
          writing-mode: vertical-rl;
          transform: rotate(180deg);
          transform-origin: center;
          margin-left: 16px;
        }
      }
    }
    &:nth-child(2n+1) {
      background-color: $ifix-gray3;
    }
  }
  p.icon-cancel {
    color: $ifix-white;
    background-color: $ifix-pink;
    float: left;
    width: 22px;
    text-align: center;
    border-radius: 100%;
    height: 22px;
    line-height: 18px;
    font-weight: 700;
    font-size: 15px;
    margin-right: 15px;
    @media (max-width: 768px) {
      margin-left: 13px;
    }
  }
  .button-plus {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    p {
      margin-right: 45px;
      float: right;
      width: 50px;
      text-align: center;
      height: 50px;
      line-height: 48px;
      border-radius: 100%;
      background-color: $ifix-pink;
      color: $ifix-white;
      font-weight: 700;
      font-size: 46px;
      box-shadow: 3px 3px 21px 2px rgba(0, 0, 0, 0.46);
      cursor: pointer;
    }
  }
}

*:focus {
  outline: 0;
}

.container-fluid {
  width: 100%;
}