#footer {
  background-color: $ifix-gray1;
  .content-page {
    margin-top: 0px;
  }
  .padding-vertical {
    padding-top: 23px;
    padding-bottom: 22px;
  }
  .fa {
    color: $ifix-gray4;
    margin: 15px 7px 0;
    font-size: 18px;
    float: right;
    &:hover {
      color: $ifix-white;
    }
  }
  .footer-nav {
    //Color nuevo
    background-color: #262626;
    p {
      color: $ifix-white;
      @extend %font-p-xs;
      float: left;
      font-weight: 400;
      a {
        color: $ifix-white;
        &:hover {
          color: $ifix-blue;
          text-decoration: none;
        }
      }
    }
  }
  .logo-grande {
    max-width: 190px;
    float: left;
  }
  .icons {
    width: 244px;
    float: right;
    @media (max-width: 1300px) {
      clear: left;
    }
    .dataweb {
      max-width: 24px;
      float: right;
      margin-left: 12px;
      @media (max-width: 1300px) {
        float: left;
      }
    }
    .googleplay_es,
    .appstore_es {
      max-width: 104px;
      float: right;
      @media (max-width: 1300px) {
        float: left;
      }
    }
  }
}