nav.main {
  background-color: $ifix-blue;
  left: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  width: 70px;
  transition: all .3s;
  z-index: 5;
  @media (max-width: 600px) {
    overflow: hidden;
    width: 0;
    transition: width .3s;
  }
  .logo img {
    padding: 0 5px;
    max-width: 60px;
    margin: auto;
  }
  ol,
  ul {
    margin: 0;
    padding: 0;
    li {
      transition: all .3s;
      display: block;
      border-bottom: solid 1px $ifix-blue1;
      &.active {
        border-left: 5px solid $ifix-pink;
        a {
          background-color: $ifix-blue1;
        }
      }
      a {
        transition: all .3s;
        min-height: 84px;
        padding: 30px 0;
        display: block;
        text-align: center;
        @media (max-width: 600px) {
          min-height: 47px;
          padding: 10px 0;
        }
        span {
          display: none;
        }
        &:hover,
        {
          background-color: $ifix-blue1;
        }
        i {
          font-size: 23px;
          color: $ifix-white;
          &.fa-check {
            font-size: 20px;
          }
        }
      }
    }
  }
  &.expanded {
    @media (max-width: 600px) {
      width: 70px;
    }
    @media (min-width: 601px) {
    width: 110px;
      ul li.item a {
        padding: 20px 0 40px;
        color: #fff;
        span {
          display: block;
          position: absolute;
          width: 100%;
        }
      }
    }
  }
}