.search-bar.expanded {
  padding-left: 125px;
  @media (max-width: 600px) {
    padding-left: 80px;
  }
  .fa-caret-right:before {
    content: "\f0d9";
  }
}

.search-bar {
  transition: padding .3s;
  position: absolute;
  padding-left: 76px;
  top: 0;
  width: 100%;
  border-bottom: 1px solid $ifix-gray5;
  min-height: 85px;
  @media (max-width: 600px) {
    padding-left: 10px;
  }
  .menu-secundary {
    display: table;
    float: left;
    cursor: pointer;
  }
  .fa-bars {
    font-size: 24px;
    float: left;
    margin-top: 31px;
    color: $ifix-blue;
  }
  .fa-caret-right {
    margin-left: 6px;
    float: left;
    font-size: 16px;
    margin-top: 39px;
    color: $ifix-blue;
    &:hover {
      color: $ifix-blue1;
    }
  }
  .user-menu {
    float: right;
    position: relative;
    cursor: pointer;
    .fa-sort-desc {
      position: absolute;
      left: 50px;
      top: 24px;
      font-size: 16px;
      color: $ifix-gray;
    }
    .user-logo {
      width: 53px;
      border-radius: 100%;
      overflow: hidden;
      float: right;
      margin-right: 30px;
      margin-top: 12px;
    }
  }
  form.search-form {
    float: right;
    margin-top: 20px;
    position: relative;
    margin-right: 120px;
    @media (max-width: 800px) {
      margin-right: 40px;
    }
    @media (max-width: 601px) {
      clear: right;
    }
    @media (max-width: 600px) {
      margin-right: 10px;
    }
    label {
      width: 205px;
      display: inline-block;
      max-width: 100%;
      margin-bottom: 5px;
      font-weight: bold;
    }
    input {
      transition: width 0.3s ease-in-out;
    }
    input[type=search].search-field {
      float: right;
      padding: .325em .3375em .325em 1.0375em;
      width: 200px;
      position: relative;
      right: 0px;
      border: 0;
      border-radius: 37px;
      color: $ifix-gray;
      font-size: 14px;
      height: 35px;
      padding-left: 35px;
      background-color: $ifix-gray3;
      @media (min-width: 601px) {
        &:focus {
          width: 300px;
        }
      }
      &::placeholder {
        color: $ifix-gray5;
      }
    }
    button.search-submit {
      background-color: $ifix-pink;
      height: 29px;
      color: $ifix-gray;
      i {
        color: $ifix-white;
      }
    }
    .search-submit {
      border-radius: 100%;
      overflow: hidden;
      padding: 0;
      position: absolute;
      right: 3px;
      top: 3px;
      width: 29px;
    }
    button {
      border: 0;
    }
  }
  .glyphicon.glyphicon-bell {
    font-size: 22px;
    color: $ifix-gray;
  }
  span.number {
    background-color: $ifix-blue;
    color: $ifix-white;
    display: table;
    float: left;
    position: absolute;
    top: -6px;
    border-radius: 100%;
    width: 19px;
    height: 15px;
    border: solid $ifix-white 2px;
    text-align: center;
    left: 11px;
    line-height: 15px;
    font-size: 11px;
    font-weight: 100;
  }
  .bell {
    display: block;
    position: relative;
    float: right;
    margin-top: 26px;
    margin-right: 45px;
  } // bootstrap
  .dropdown,
  .dropup {
    margin-right: 5px;
  }
  .dropdown-menu {
    top: 63px;
    right: 0px;
    left: inherit;
  }
}