<div class="content-page container-fluid">
    <div class="row">
        <div class="col-md-12 col-lg-10 col-lg-offset-1">
            <h1 class="main-title">
                Trabajos finalizados
            </h1>
            <p>
                Desde este panel podés contratar todos los servicios que necesitás para tu empresa, navegá por las categorias o usá el buscador.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-10 col-lg-offset-1">
            <div class="row header-works">
                <div class="col-xs-3 padding-lateral">
                    <p>
                        Código de trabajo
                    </p>
                </div>
                <div class="col-xs-3 padding-lateral">
                    <p>
                        Sucursal
                    </p>
                </div>
                <div class="col-xs-3 padding-lateral">
                    <p>
                        Tipo de trabajo
                    </p>
                </div>
                <div class="col-xs-3 padding-lateral">
                    <p>
                        Relización fecha
                    </p>
                </div>
            </div>
            <div class="row work-item">
                <div class="col-xs-3 padding-lateral">
                    <p class="icon-cancel">x</p>
                    <p class="code">
                        Cod.CG699
                    </p>
                </div>
                <div class="col-xs-3 padding-lateral">
                    <p>
                        Acoyte
                    </p>
                </div>
                <div class="col-xs-3 padding-lateral">
                    <p>
                        Visita y presupuesto de refacción
                    </p>
                </div>
                <div class="col-xs-3 padding-lateral">
                    <p class="date">
                        15/01/2017
                    </p>
                </div>
            </div>
            <div class="row work-item">
                <div class="col-xs-3 padding-lateral">
                    <p class="icon-cancel">x</p>
                    <p class="code">
                        Cod.CG699
                    </p>
                </div>
                <div class="col-xs-3 padding-lateral">
                    <p>
                        Acoyte
                    </p>
                </div>
                <div class="col-xs-3 padding-lateral">
                    <p>
                        Visita y presupuesto de refacción
                    </p>
                </div>
                <div class="col-xs-3 padding-lateral">
                    <p class="date">
                        15/01/2017
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="button-plus">
        <div class="col-md-12 col-lg-10 col-lg-offset-1">
            <p>+</p>
        </div>
    </div>
</div>