<footer id="footer">
  <div class="content-page container-fluid">
    <div class="row">
      <div class="col-md-12 col-lg-10 col-lg-offset-1 padding-vertical">
        <img class="img-responsive logo-grande" src="https://s3.amazonaws.com/iguanafix-designs/challenge-assets/logo_grande.png"
          alt="Logo IguanaFix">
          <a href="#">
           <i class="fa fa-facebook" aria-hidden="true"></i>
           </a>
          <a href="#">
           <i class="fa fa-instagram" aria-hidden="true"></i>
           </a>
          <a href="#">
           <i class="fa fa-google-plus" aria-hidden="true"></i>
           </a>
          <a href="#">
           <i class="fa fa-youtube" aria-hidden="true"></i>
           </a>
          <a href="#">
           <i class="fa fa-twitter" aria-hidden="true"></i>
           </a>
          <a href="#">
            <i class="fa fa-envelope-o" aria-hidden="true"></i>
          </a>
      </div>
    </div>

    <div class="row footer-nav">
      <div class="col-md-12 col-lg-10 col-lg-offset-1 padding-vertical">
        <p>
          © 2016 IguanaFix |
          <a href="#">
            seguridad 
           </a> |
          <a href="#">
            Términos y Condiciones 
           </a> |
          <a href="#">
            Términos para Profesionales 
           </a> |
          <a href="#">
            Privacidad
           </a>
        </p>
        <div class="icons">
          <img class="img-responsive dataweb" src="https://s3.amazonaws.com/iguanafix-designs/challenge-assets/DATAWEB.jpg" alt="Logo IguanaFix">
          <img class="img-responsive appstore_es" src="https://s3.amazonaws.com/iguanafix-designs/challenge-assets/appstore_es.png"
            alt="appstore_es IguanaFix">
          <img class="img-responsive googleplay_es" src="https://s3.amazonaws.com/iguanafix-designs/challenge-assets/googleplay_es.png"
            alt="googleplay_es IguanaFix">
        </div>
      </div>
    </div>
</footer>