<nav class="main">
  <ul>
    <li class="logo">
      <a href="#">
        <img class="img-responsive" src="https://s3.amazonaws.com/iguanafix-designs/challenge-assets/ifix.png" alt="logo">
      </a>
    </li>
    <li class="item">
      <a href="#">
        <i class="fa fa-home" aria-hidden="true"></i>
        <span>Home</span>
      </a>
    </li>
    <li class="item">
      <a href="#">
        <i class="fa fa-suitcase" aria-hidden="true"></i>
        <span>Mis trabajos</span>
      </a>
    </li>
    <li class="item active">
      <a href="#">
        <i class="fa fa-check" aria-hidden="true"></i>
        <span>Trabajos finalizados</span>
      </a>
    </li>
    <li class="item">
      <a href="#">
        <i class="fa fa-line-chart" aria-hidden="true"></i>
        <span>Estadística</span>
      </a>
    </li>
  </ul>
</nav>