<div id="searchBar" class="search-bar">
  <div class="menu-secundary">
    <i class="fa fa-bars" aria-hidden="true"></i>
    <i class="fa fa-caret-right" aria-hidden="true"></i>
  </div>
  <a id="user-menu" href="#" class="user-menu dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
    <div class="user-logo">
      <img class="img-responsive" src="http://www.dacu.com.ar/iguanafix/_dist/img/logo-kenko.jpg" alt="logo">
    </div>
    <i class="fa fa-sort-desc" aria-hidden="true"></i>
  </a>
  <ul class="dropdown-menu">
    <li><a href="#">Action</a></li>
    <li><a href="#">Another action</a></li>
    <li><a href="#">Something else here</a></li>
    <li role="separator" class="divider"></li>
    <li class="dropdown-header">Nav header</li>
    <li><a href="#">Separated link</a></li>
    <li><a href="#">One more separated link</a></li>
  </ul>
  <div class="bell">
    <span class="glyphicon glyphicon-bell"></span>
    <span class="number">3</span>
  </div>
  <form class="search-form">
    <input type="search" class="search-field" placeholder="Buscar">
    <button class="search-submit">
      <i class="fa fa-search" aria-hidden="true"></i>
    </button>
  </form>
</div>