$ifix-blue:  #3551ad;
$ifix-blue1: #1c368a; 
$ifix-pink:  #ff4081;
$ifix-white: #ffffff;
$ifix-gray:  #666666;
$ifix-gray1: #333333;
$ifix-gray2: #ededed;
$ifix-gray3: #f5f5f5;
$ifix-gray4: #555555;
$ifix-gray5: #bdbdbd;